## Ingest the CSV file into Big Query:

In [11]:
dataset_id = "musicbrainz_staging"

In [12]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'earnest-keep-266820:musicbrainz_staging' successfully created.

In [13]:
!bq --location=US load --autodetect\
--source_format=CSV {dataset_id}.Area \
'gs://cs327e_music_data/music_brainz_staging/area'

Waiting on bqjob_r422361c28b268920_000001706f324976_1 ... (6s) Current status: DONE

In [15]:
%%bigquery
select count(*) from musicbrainz_staging.Area limit 5

      f0_
0  118076

In [30]:
!bq --location=US load --autodetect --max_bad_records 1000\
--source_format=CSV {dataset_id}.Artist \
'gs://cs327e_music_data/music_brainz_staging/artist'

Waiting on bqjob_r367c2cdc70698e0a_000001706f49a822_1 ... (47s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/artist] Error while reading data, error message: Error detected while parsing row starting at position: 384845. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/artist] Error while reading data, error message: Error detected while parsing row starting at position: 1335605. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/artist] Error while reading data, error message: Error detected while parsing row starting at position: 1338596. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/artist] Error while reading data, error message: Error detected while parsing row starting at position: 2178639. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/artist] Error while reading data, error message: Error detected while parsing row starting at position: 4207087. Error: Data between close double quote (") and field separator.

In [32]:
%%bigquery
select count(*) from musicbrainz_staging.Artist

       f0_
0  1603652

In [28]:
!bq --location=US load --autodetect --max_bad_records 500\
--source_format=CSV {dataset_id}.Event \
'gs://cs327e_music_data/music_brainz_staging/event'

Waiting on bqjob_r401b31cfd15dfbbd_000001706f49195d_1 ... (4s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/event] Error while reading data, error message: Error detected while parsing row starting at position: 299049. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/event] Error while reading data, error message: Error detected while parsing row starting at position: 312892. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/event] Error while reading data, error message: Error detected while parsing row starting at position: 331273. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/event] Error while reading data, error message: Error detected while parsing row starting at position: 364014. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/event] Error while reading data, error message: Error detected while parsing row starting at position: 579067. Error: Data between close double quote (") and field separator.

In [31]:
%%bigquery
select count(*) from musicbrainz_staging.Event

     f0_
0  40677

In [33]:
!bq --location=US load --autodetect --max_bad_records 500\
--source_format=CSV {dataset_id}.Label \
'gs://cs327e_music_data/music_brainz_staging/label'

Waiting on bqjob_r386a69bd5f434ae7_000001706f4bc031_1 ... (5s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/label] Error while reading data, error message: Error detected while parsing row starting at position: 2893697. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/label] Error while reading data, error message: Error detected while parsing row starting at position: 3089125. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/label] Error while reading data, error message: Error detected while parsing row starting at position: 4317089. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/label] Error while reading data, error message: Error detected while parsing row starting at position: 5798102. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/label] Error while reading data, error message: Error detected while parsing row starting at position: 5898029. Error: Data between close double quote (") and field separator.

In [35]:
%%bigquery
select count(*) from musicbrainz_staging.Label

      f0_
0  174332

In [36]:
!bq --location=US load --autodetect --max_bad_records 500\
--source_format=CSV {dataset_id}.Place \
'gs://cs327e_music_data/music_brainz_staging/place'

Waiting on bqjob_r417e4c7e70a8fa97_000001706f4e2b42_1 ... (3s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/place] Error while reading data, error message: Error detected while parsing row starting at position: 222078. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/place] Error while reading data, error message: Error detected while parsing row starting at position: 619458. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/place] Error while reading data, error message: Error detected while parsing row starting at position: 2565613. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/place] Error while reading data, error message: Error detected while parsing row starting at position: 3134165. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/place] Error while reading data, error message: Error detected while parsing row starting at position: 3443247. Error: Data between close double quote (") and field separator.

In [37]:
%%bigquery
select count(*) from musicbrainz_staging.Place

     f0_
0  39877

In [42]:
!bq --location=US load --autodetect --max_bad_records 100000\
--source_format=CSV {dataset_id}.Recording \
'gs://cs327e_music_data/music_brainz_staging/recording'

Waiting on bqjob_r3367e73b05974bb3_000001706f52eb26_1 ... (64s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/recording] Error while reading data, error message: Error detected while parsing row starting at position: 262923439. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/recording] Error while reading data, error message: Error detected while parsing row starting at position: 263430179. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/recording] Error while reading data, error message: Error detected while parsing row starting at position: 263449046. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/recording] Error while reading data, error message: Error detected while parsing row starting at position: 264198248. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/recording] Error while reading data, error message: Error detected while parsing row starting at position: 264199132. Error: Data between close double quote (") and field separator.

In [43]:
%%bigquery
select count(*) from musicbrainz_staging.Recording

        f0_
0  21863041

In [44]:
!bq --location=US load --autodetect --max_bad_records 100000\
--source_format=CSV {dataset_id}.Release \
'gs://cs327e_music_data/music_brainz_staging/release'

Waiting on bqjob_r4b91b10f7097bd09_000001706f554a11_1 ... (64s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/release] Error while reading data, error message: Error detected while parsing row starting at position: 1275036. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release] Error while reading data, error message: Error detected while parsing row starting at position: 1572553. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release] Error while reading data, error message: Error detected while parsing row starting at position: 2550261. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release] Error while reading data, error message: Error detected while parsing row starting at position: 3379775. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release] Error while reading data, error message: Error detected while parsing row starting at position: 4755540. Error: Data between close double quote (") and field separator.

In [46]:
%%bigquery
select count(*) from musicbrainz_staging.Release

       f0_
0  2433628

In [47]:
!bq --location=US load --autodetect --max_bad_records 100000\
--source_format=CSV {dataset_id}.Release_Group \
'gs://cs327e_music_data/music_brainz_staging/release_group'

Waiting on bqjob_r5d38f2af06f28ba5_000001706f5790ca_1 ... (47s) Current status: DONE
Warnings encountered during job execution:

[gs://cs327e_music_data/music_brainz_staging/release_group] Error while reading data, error message: Error detected while parsing row starting at position: 86544. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release_group] Error while reading data, error message: Error detected while parsing row starting at position: 370989. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release_group] Error while reading data, error message: Error detected while parsing row starting at position: 1589442. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release_group] Error while reading data, error message: Error detected while parsing row starting at position: 1989071. Error: Data between close double quote (") and field separator.

[gs://cs327e_music_data/music_brainz_staging/release_group] Error while reading data, error message: Error detected while parsing row starting at position: 2551695. Error: Data between close double quote (") and field separator.

In [49]:
%%bigquery
select count(*) from musicbrainz_staging.Release_Group

       f0_
0  1922519

In [52]:
!bq --location=US load --autodetect\
--source_format=CSV {dataset_id}.URL \
'gs://cs327e_music_data/music_brainz_staging/url'

Waiting on bqjob_r2d337c2da6911ce9_000001706f5b8bee_1 ... (64s) Current status: DONE

In [53]:
%%bigquery
select count(*) from musicbrainz_staging.URL

       f0_
0  6373091

In [68]:
!bq --location=US load --autodetect --max_bad_records 1000000\
--source_format=CSV {dataset_id}.Work \
'gs://cs327e_music_data/music_brainz_staging/work'

Waiting on bqjob_r84351f58a2b01ed_000001706f7301f5_1 ... (22s) Current status: DONE
Warnings encountered during job execution:

[query] Could not parse '\\N' as a timestamp. Required format is YYYY-MM-DD HH:MM[:SS[.SSSSSS]] or YYYY/MM/DD HH:MM[:SS[.SSSSSS]]; Could not parse '\N' as timestamp for field timestamp_field_6 (position 6) starting at location 81783

[gs://cs327e_music_data/music_brainz_staging/work] Error while reading data, error message: Error detected while parsing row starting at position: 212374. Error: Data between close double quote (") and field separator.

[query] Could not parse '\\N' as a timestamp. Required format is YYYY-MM-DD HH:MM[:SS[.SSSSSS]] or YYYY/MM/DD HH:MM[:SS[.SSSSSS]]; Could not parse '\N' as timestamp for field timestamp_field_6 (position 6) starting at location 398485

[gs://cs327e_music_data/music_brainz_staging/work] Error while reading data, error message: Error detected while parsing row starting at position: 500617. Error: Data between close double quote (") and field separator.

[query] Could not parse '\\N' as a timestamp. Required format is YYYY-MM-DD HH:MM[:SS[.SSSSSS]] or YYYY/MM/DD HH:MM[:SS[.SSSSSS]]; Could not parse '\N' as timestamp for field timestamp_field_6 (position 6) starting at location 533625

In [59]:
%%bigquery
select count(*) from musicbrainz_staging.Work

       f0_
0  1165733