### Create modeled dataset with design principles

The structure of our data is already broken down into entities, so we just copied over the original tables from the staging dataset. The only problem with the original tables is that many fields were autodetected with type String because the data uses "/N" to represent nulls. Because of this, we were not able to cast columns to Integers, so we plan to accomplish this with Apache Beam.

In [1]:
dataset_id = "musicbrainz_modeled"

In [3]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'earnest-keep-266820:musicbrainz_modeled' successfully created.

In [4]:
%%bigquery
create table musicbrainz_modeled.Area as
select * from musicbrainz_staging.Area

Empty DataFrame
Columns: []
Index: []

In [5]:
%%bigquery
create table musicbrainz_modeled.Artist as
select * from musicbrainz_staging.Artist

Empty DataFrame
Columns: []
Index: []

In [6]:
%%bigquery
create table musicbrainz_modeled.Event as
select * from musicbrainz_staging.Event

Empty DataFrame
Columns: []
Index: []

In [7]:
%%bigquery
create table musicbrainz_modeled.Label as
select * from musicbrainz_staging.Label

Empty DataFrame
Columns: []
Index: []

In [8]:
%%bigquery
create table musicbrainz_modeled.Place as
select * from musicbrainz_staging.Place

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
create table musicbrainz_modeled.Recording as
select * from musicbrainz_staging.Recording

Empty DataFrame
Columns: []
Index: []

In [10]:
%%bigquery
create table musicbrainz_modeled.Release as
select * from musicbrainz_staging.Release

Empty DataFrame
Columns: []
Index: []

In [11]:
%%bigquery
create table musicbrainz_modeled.Release_Group as
select * from musicbrainz_staging.Release_Group

Empty DataFrame
Columns: []
Index: []

In [12]:
%%bigquery
create table musicbrainz_modeled.URL as
select * from musicbrainz_staging.URL

Empty DataFrame
Columns: []
Index: []

In [13]:
%%bigquery
create table musicbrainz_modeled.Work as
select * from musicbrainz_staging.Work

Empty DataFrame
Columns: []
Index: []