### Find Primary Keys

Find primary key for area

In [2]:
%%bigquery
select count(*) from musicbrainz_staging.Area

      f0_
0  118076

In [3]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Area

      f0_
0  118076

Find primary key for artist

In [4]:
%%bigquery
select count(*) from musicbrainz_staging.Artist

       f0_
0  1603652

In [5]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Artist

       f0_
0  1603652

Find primary key for event

In [6]:
%%bigquery
select count(*) from musicbrainz_staging.Event

     f0_
0  40677

In [12]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Event

     f0_
0  40677

Find primary key for label

In [8]:
%%bigquery
select count(*) from musicbrainz_staging.Label

      f0_
0  174332

In [13]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Label

      f0_
0  174332

Find primary key for place

In [14]:
%%bigquery
select count(*) from musicbrainz_staging.Place

     f0_
0  39877

In [15]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Place

     f0_
0  39877

Find primary key for recording

In [16]:
%%bigquery
select count(*) from musicbrainz_staging.Recording

        f0_
0  21863041

In [17]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Recording

        f0_
0  21863041

Find primary key for release

In [18]:
%%bigquery
select count(*) from musicbrainz_staging.Release

       f0_
0  2433628

In [19]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Release

       f0_
0  2433628

Find primary key for release group

In [20]:
%%bigquery
select count(*) from musicbrainz_staging.Release_Group

       f0_
0  1922519

In [21]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Release_Group

       f0_
0  1922519

Find primary key for URL

In [23]:
%%bigquery
select count(*) from musicbrainz_staging.URL

       f0_
0  6373091

In [24]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.URL

       f0_
0  6373091

Find primary key for work

In [25]:
%%bigquery
select count(*) from musicbrainz_staging.Work

       f0_
0  1165733

In [26]:
%%bigquery
select count(distinct int64_field_0) from musicbrainz_staging.Work

       f0_
0  1165733

### Find foreign key relationships between tables

Every artist that has recorded a song is listed in the artists table.

In [28]:
%%bigquery
select count(a.int64_field_0) from musicbrainz_staging.Artist as a
right join musicbrainz_staging.Recording as r on r.int64_field_3 = a.int64_field_0
where a.int64_field_0 is null

   f0_
0    0

Every area in which a place is listed exists in the Area table

In [32]:
%%bigquery
select count(a.int64_field_0) from musicbrainz_staging.Area as a
right join musicbrainz_staging.Place as p on safe_cast(p.string_field_5 as int64) = a.int64_field_0
where a.int64_field_0 is null

   f0_
0    0

Every area where an artist is listed exists in the Area table

In [36]:
%%bigquery
select count (area.int64_field_0) from musicbrainz_staging.Area as area
right join musicbrainz_staging.Artist as artist on safe_cast(artist.string_field_11 as int64) = area.int64_field_0
where area.int64_field_0 is null

   f0_
0    0

Every release group released by an artist matches an artist in the artist table

In [37]:
%%bigquery
select count(artist.int64_field_0) from musicbrainz_staging.Artist as artist
right join musicbrainz_staging.Release_Group as rg on artist.int64_field_0 = rg.int64_field_3
where artist.int64_field_0 is null

   f0_
0    0

Each release with an artist listed matches an artist in the artists table

In [41]:
%%bigquery
select count(a.int64_field_0) from musicbrainz_staging.Artist as a
right join musicbrainz_staging.Release as r on r.int64_field_3 = a.int64_field_0
where a.int64_field_0 is null

   f0_
0    0

Each label with an area listed matches an area which is in the area table

In [42]:
%%bigquery
select count(a.int64_field_0) from musicbrainz_staging.Area as a
right join musicbrainz_staging.Label as l on safe_cast(l.string_field_11 as int64) = a.int64_field_0
where a.int64_field_0 is null

   f0_
0    0