### Determining Primary and Foreign Keys for each table

- Determining if GEOID column is a primary key for the AgeSex table

In [2]:
%%bigquery
select count(*) from us_census_staging.AgeSex

     f0_
0  11192

In [4]:
%%bigquery
select count(distinct GEOID) from us_census_staging.AgeSex

     f0_
0  11192

Since the number of distinct entries is the same as the number of total entries, GEOID is a primary key for AgeSex

- Determining if GEOID column is a primary key for the Earnings table

In [5]:
%%bigquery
select count(*) from us_census_staging.Earnings

     f0_
0  11192

In [6]:
%%bigquery
select count(distinct GEOID) from us_census_staging.Earnings

     f0_
0  11192

Since the number of distinct entries is the same as the number of total entries, GEOID is a primary key for Earnings

- Determining if GEOID column is a primary key for the Education table

In [7]:
%%bigquery
select count(*) from us_census_staging.Education

     f0_
0  11192

In [8]:
%%bigquery
select count(distinct GEOID) from us_census_staging.Education

     f0_
0  11192

Since the number of distinct entries is the same as the number of total entries, GEOID is a primary key for Education

- Determining if GEOID column is a primary key for the Language table

In [9]:
%%bigquery
select count(*) from us_census_staging.Language

     f0_
0  11410

In [11]:
%%bigquery
select count(distinct GEOID) from us_census_staging.Language

     f0_
0  11410

Since the number of distinct entries is the same as the number of total entries, GEOID is a primary key for Language

- Determining if GEOID column is a primary key for the Race table

In [12]:
%%bigquery
select count(*) from us_census_staging.Race

     f0_
0  11192

In [13]:
%%bigquery
select count(distinct GEOID) from us_census_staging.Race

     f0_
0  11192

Since the number of distinct entries is the same as the number of total entries, GEOID is a primary key for Race

### Next, we will determine foreign keys
We have shown above that GEOID is a valid primary key for each of our tables. We will now show below that it is also a sufficient foreign key to refer between each of the tables, implying that the same GEOIDs are shared between all of the tables. We have selected GEOID as the foreign key and primary key because there is no other table attribute that is shared between all five of our data tables. An exception is the AreaName attribute, which is ignored because each of its values are cardinally related to the GEOIDs.

We will arbitrarily choose the GEOID column of the Race data table as the primary key to be used in the following queryies to confirm the foreign key.

- Determine if GEOID is a foreign key between the race and education tables

In [29]:
%%bigquery
select count(*) from us_census_staging.Education as edu
left join us_census_staging.Race as r on r.GEOID = edu.GEOID 
where r.GEOID is null

   f0_
0    0

The result of 0 indicates that there are no GEOIDs in the education table that are not also in the race table

- Determine if GEOID is a foreign key between the race and agesex tables

In [28]:
%%bigquery
select count(*) from us_census_staging.AgeSex as a
left join us_census_staging.Race as r on r.GEOID = a.GEOID
where r.GEOID is null

   f0_
0    0

The result of 0 indicates that there are no GEOIDs in the agesex table that are not also in the race table

- Determine if GEOID is a foreign key between the race and earnings tables

In [30]:
%%bigquery
select count(*) from us_census_staging.Earnings as ear
left join us_census_staging.Race as r on r.GEOID = ear.GEOID
where r.GEOID is null

   f0_
0    0

The result of 0 indicates that there are no GEOIDs in the earnings table that are not also in the race table

- Determine if GEOID is a foreign key between the race and language tables

In [31]:
%%bigquery
select count(*) from us_census_staging.Language as l
left join us_census_staging.Race as r on r.GEOID = l.GEOID
where r.GEOID is null

   f0_
0  710

The result of 0 indicates that there are no GEOIDs in the language table that are not also in the race table

- Finally, for completeness and redundancy, show GEOID is a foreign key between the race table and itself

In [32]:
%%bigquery
select count(*) from us_census_staging.Race as r1
left join us_census_staging.Race as r2 on r2.GEOID = r1.GEOID
where r2.GEOID is null

   f0_
0    0

The result of 0 indicates that there are no GEOIDs in the race table that are not also in the race table

## Note: Self Relationships on Liquidchart

We have included some self relationships on two of the ERDs in our PDF. These are not explicit self relationships within the table where the values of one column refer to that of another. We have labeled these one-to-many self relationships because they implicity include data about how the columns relate to one another. For instance, the populations of all the subset races of a given population can each be summed together to give the total population, which may be listed in another column of the same table. This is not an explicit database relation but we feel that it is an important one, hence why we included it in our ERD.